<div [class]="getGroupClass(control)">
  <input
    *ngIf="
      [
        ValueType.Text,
        ValueType.Password,
        ValueType.Email,
        ValueType.Number,
        ValueType.Search,
        ValueType.Mobile,
        ValueType.Url
      ].includes(control.type)
    "
    [type]="control.type"
    [formControlName]="control.name"
    [id]="control.name"
    [class]="getControlClass(control)"
  />
  <ng-container *ngIf="control.type === ValueType.Article">
    <quill-editor
      [value]="control.value"
      [name]="control.name"
      [formControlName]="control.name"
      [placeholder]="control.label"
      [class]="getControlClass(control)"
    >
    </quill-editor>
  </ng-container>
  <ng-bootstrap-datetime
    *ngIf="control.type === ValueType.Date"
    [id]="control.name"
    [formControlName]="control.name"
    [seconds]="control.options.seconds"
    [meridian]="false"
    [inputDatetimeFormat]="control.options.format"
    [class]="getControlClass(control)"
  ></ng-bootstrap-datetime>
  <textarea
    *ngIf="control.type === ValueType.Textarea"
    [id]="control.name"
    [formControlName]="control.name"
    [class]="getControlClass(control)"
  ></textarea>
  <input
    *ngIf="control.type === ValueType.Range"
    [min]="control.options.min"
    [max]="control.options.max"
    [type]="ValueType.Range"
    [id]="control.name"
    [formControlName]="control.name"
    [class]="getControlClass(control)"
  />

  <input
    *ngIf="[ValueType.Checkbox, ValueType.Switch].includes(control.type)"
    type="checkbox"
    [id]="control.name"
    [formControlName]="control.name"
    [class]="getControlClass(control)"
  />
  <input
    *ngIf="control.type === ValueType.Radio"
    type="radio"
    [value]="control.value"
    [name]="control.name"
    [formControlName]="control.name"
    [class]="getControlClass(control)"
  />
  <ng-container
    *ngIf="[ValueType.File, ValueType.Image].includes(control.type)"
  >
    <input
      [type]="ValueType.File"
      [class]="getControlClass(control)"
      (change)="onFileChange($event)"
      [accept]="control.accept"
    />
    <input
      [type]="ValueType.Text"
      [id]="control.name"
      [formControlName]="control.name"
      style="display: none"
    />
  </ng-container>
  <label [class]="getLabelClass(control)" [for]="control.name">{{
    control.label
  }}</label>
  <app-dynamic-validator
    remove-wrapper
    [control]="parentForm.form.get(control.name)"
    [validators]="control.validators"
  ></app-dynamic-validator>
</div>
