<div class="card padding">
  <div [class]="getHeaderClass()">{{ parent.label }}</div>
  <ng-container *ngFor="let control of jsonFormData">
    <ng-container *ngIf="control.type !== ValueType.Form">
      <app-json-form-control [control]="control" [parent]="parent">
      </app-json-form-control>
    </ng-container>
    <ng-container
      *ngIf="control.type === ValueType.Form"
      [formGroup]="parentForm.form.get(control.name)"
    >
      <app-json-form
        [jsonFormData]="control.value"
        [parent]="control"
      ></app-json-form>
    </ng-container>
  </ng-container>
  <ng-content></ng-content>
</div>
