<div [class]="getHeaderClass()" *ngIf="parent">{{ parent.label }}</div>
<div [class]="getGroupClass()">
  <ng-container *ngFor="let control of jsonFormControls">
    <ng-container
      *ngIf="
        ![ValueType.Form, ValueType.Group, ValueType.RadioGroup].includes(
          control.type
        )
      "
    >
      <formality-control [control]="control" [parent]="parent">
      </formality-control>
    </ng-container>
    <ng-container
      *ngIf="control.type === ValueType.Form"
      [formGroup]="parentForm.form.get(control.name)"
    >
      <formality-form
        [jsonFormControls]="control.value"
        [parent]="control"
        [class]="getSubFormClass(control)"
      ></formality-form>
    </ng-container>
    <ng-container
      *ngIf="
        control.type === ValueType.RadioGroup ||
        control.type === ValueType.Group
      "
    >
      <formality-form
        [jsonFormControls]="control.controls"
        [parent]="control"
        [class]="getSubFormClass(control)"
      ></formality-form>
    </ng-container>
  </ng-container>
  <ng-content></ng-content>
</div>
